@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #EDEDED;
}

html, body, #__next, main {
  height: 100%;
  width: 100%;
}

#__next {
  overflow: hidden;
}

* {
  font-family: 'Montserrat', sans-serif;
  user-select: none;
 }

 input, select {
  all: unset;
 }

 option {
  background-color: black;
  padding: 2rem;
  font-size: 10px;
  font-weight: bold;

 }
 * {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}